@page
@model TaskMenagerV2.Pages.AccountModel
@inject MyDbContext DbContext
@using TaskMenager.Components.dbcontroll;
@using Microsoft.EntityFrameworkCore;
@using TaskMenagerV2.Pages.Services
@using TaskMenagerV2.Pages.dbcontroll;
@{
    ViewData["Title"] = "Account";
    var user = ViewData["User"] as User;
    var achievementsString = user?.Achivements;
    var achievementsList = achievementsString?.Split(',').Select(int.Parse).ToList() ?? new List<int>();
}

<div class="container">
    <div class="text-center tp-4">
        <h2 class="display-4">Welcome!</h2>
        @if (HttpContext.Session.GetString("UserId") != null)
        {
            <p class="tp-2">@user.Name!</p>
            <p class="tp-2">Your email: @user.Email</p>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2>Completed Achievements</h2>
                    <div class="row">
                        @for (int i = 0; i < achievementsList.Count; i++)
                        {
                            if (achievementsList[i] == 1)
                            {
                                var achievement = DbContext.Achievements.FirstOrDefault(a => a.Id == i + 1);
                                if (achievement != null)
                                {
                                    <div class="col-md-4 pt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">@achievement.Name</h5>
                                                <p class="card-text">@achievement.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        @if (!achievementsList.Any(a => a == 1))
                        {
                            <div class="h4">No completed achievements.</div>
                        }
                    </div>

                    <h2>Incompleted Achievements</h2>
                    <div class="row">
                        @for (int i = 0; i < achievementsList.Count; i++)
                        {
                            if (achievementsList[i] == 0)
                            {
                                var achievement = DbContext.Achievements.FirstOrDefault(a => a.Id == i + 1);
                                if (achievement != null)
                                {
                                    <div class="col-md-4 pt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">@achievement.Name</h5>
                                                <p class="card-text">@achievement.Description</p>
                                                @switch (achievement.Id)
                                                {
                                                    case 4:
                                                        double completed = DbContext.Tasks.Count(t => t.Completion == 1);
                                                        int PercentCompletion = Convert.ToInt32((completed / 10) * 100);
                                                        <div class="pt-2"><progress max="100" value="@PercentCompletion"></progress> @PercentCompletion%</div>
                                                        break;
                                                    case 5:
                                                        completed = DbContext.Tasks.Count(t => t.Completion == 1);
                                                        PercentCompletion = Convert.ToInt32((completed / 50) * 100);
                                                        <div class="pt-2"><progress max="100" value="@PercentCompletion"></progress> @PercentCompletion%</div>
                                                        break;
                                                    case 6:
                                                        completed = DbContext.Tasks.Count(t => t.Completion == 1);
                                                        PercentCompletion = Convert.ToInt32((completed / 100) * 100);
                                                        <div class="pt-2"><progress max="100" value="@PercentCompletion"></progress> @PercentCompletion%</div>
                                                        break;
                                                    case 9:
                                                        int completedProjects = DbContext.Projects.Count(p => p.Tasks.All(t => t.Completion == 1));
                                                        PercentCompletion = Convert.ToInt32((completedProjects / 10) * 100);
                                                        <div class="pt-2"><progress max="100" value="@PercentCompletion"></progress> @PercentCompletion%</div>
                                                        break;
                                                    case 10:
                                                        completed = DbContext.Tasks.Count(t => t.Completion == 1);
                                                        PercentCompletion = Convert.ToInt32((completed / 10) * 100);
                                                        <div class="pt-2"><progress max="100" value="@PercentCompletion"></progress> @PercentCompletion%</div>
                                                        break;
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>

        }
        else
        {
            <p>Please log in or register.</p>
            <a class="btn text-body-secondary" asp-area="" asp-page="/Login">Log in</a>
            <a class="btn text-body-secondary" asp-area="" asp-page="/Registration">Register</a>
        }
    </div>
</div>
