@page
@inject MyDbContext DbContext
@using TaskMenager.Components.dbcontroll;
@using Microsoft.EntityFrameworkCore;
@using TaskMenager.Components.Services;
@using TaskMenagerV2.Pages.Services
@using TaskMenagerV2.Pages.dbcontroll;

@model TaskMenagerV2.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    @if (HttpContext.Session.GetString("UserId") != null)
    {

        <h2>Edit</h2>

        @foreach (var project in Model.Projects.Where(t => t.UserId == int.Parse(HttpContext.Session.GetString("UserId"))))
        {
            if (project.ProjectId != 0)
            {
                <div class="container">
                    <h3>Project: @project.Name</h3>
                    <form method="post">
                        <input type="hidden" asp-for="Action" value="EditProject" />
                        <input type="hidden" asp-for="editProject.ProjectId" value="@project.ProjectId" />
                        <div class="form-group pt-3">
                            <label asp-for="editProject.Name"></label>
                            <input asp-for="editProject.Name" class="form-control  w-50" value="@project.Name" />
                        </div>
                        <div class="form-group pt-3 pb-3">
                            <label asp-for="editProject.Description"></label>
                            <input asp-for="editProject.Description" class="form-control  w-50" value="@project.Description" />
                        </div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>

                    @if (project.Tasks.Count == 0)
                    {
                        <form method="post" class="pt-2">
                            <input type="hidden" asp-for="Action" value="DeleteProject" />
                            <input type="hidden" asp-for="editProject.ProjectId" value="@project.ProjectId" />
                            <button type="submit" class="btn btn-danger">Delete Project</button>
                        </form>
                    }
                    else
                    {
                        <p>Cannot delete project with tasks.</p>
                    }


                    @if (project.Tasks.Count != 0)
                    {
                        @foreach (var task in project.Tasks)
                        {
                            <h3 class="pt-4">Task: @task.Description</h3>
                            <form method="post">
                                <input type="hidden" asp-for="Action" value="EditTask" />
                                <input type="hidden" asp-for="editTask.Id" value="@task.Id" />
                                <div class="form-group pt-3">
                                    <label asp-for="editTask.ProjectId"></label>
                                    <select asp-for="editTask.ProjectId" class="form-select w-50">
                                        @foreach (var projects in DbContext.Projects)
                                        {
                                            <option value="@projects.ProjectId">@projects.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group pt-3 pb-3">
                                    <label asp-for="editTask.Description"></label>
                                    <input asp-for="editTask.Description" class="form-control  w-50" value="@task.Description" />
                                </div>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>

                            <form method="post" class="pt-2">
                                <input type="hidden" asp-for="Action" value="DeleteTask" />
                                <input type="hidden" asp-for="editTask.Id" value="@task.Id" />
                                <button type="submit" class="btn btn-danger">Delete Task</button>
                            </form>
                        }
                    }
                    <hr style="border-top: 3px solid #000;" />
                </div>
            }
        }
    }
    else
    {
        <p>Please log in or register.</p>
        <a class="btn text-dark" asp-area="" asp-page="/Login">Log in</a>
        <a class="btn text-dark" asp-area="" asp-page="/Registration">Register</a>
    }

</div>
